BODY {
	BACKGROUND: #f3f3f3
}
.w-1086 {
	WIDTH: 1086px; MARGIN: 10px auto
}
.warp {
	BACKGROUND: #f3f3f3
}
.container {
	WIDTH: 1086px; MARGIN: 10px auto
}
.ui-content {
	BORDER-TOP: #f0efef 1px solid; BORDER-RIGHT: #f0efef 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #f0efef 1px solid; PADDING-BOTTOM: 60px; PADDING-TOP: 60px; PADDING-LEFT: 60px; MARGIN: 40px 0px; BORDER-LEFT: #f0efef 1px solid; PADDING-RIGHT: 60px
}
.ui-main {
	BORDER-TOP: #dce3eb 0px solid; BORDER-RIGHT: #dce3eb 1px solid; BACKGROUND: url(../images/line02.png) #fff repeat-x 0px 0px; BORDER-BOTTOM: #dce3eb 1px solid; POSITION: relative; PADDING-TOP: 2px; MIN-HEIGHT: 600px; BORDER-LEFT: #dce3eb 1px solid
}
.bg-email {
	BACKGROUND: url(../images/reg_13.png) #fff no-repeat right center
}
.bg-tel {
	BACKGROUND: url(../images/reg_22.png) #fff no-repeat right center
}
.bg-email1 {
	BACKGROUND: url(../images/reg_23.png) #fff no-repeat right center
}
.mod-result {
	PADDING-BOTTOM: 50px; PADDING-TOP: 50px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.result-content {
	PADDING-LEFT: 300px
}
.result-content .result-icon {
	POSITION: relative; FLOAT: left
}
.result-content .result-error {
	HEIGHT: 40px; WIDTH: 40px; BACKGROUND-POSITION: -49px -126px; MARGIN-LEFT: -55px
}
.result-content .result-correct {
	HEIGHT: 40px; WIDTH: 40px; BACKGROUND-POSITION: 0px -126px; MARGIN-LEFT: -55px
}
.result-content .result-warning {
	HEIGHT: 40px; WIDTH: 40px; BACKGROUND-POSITION: -98px -126px; MARGIN-LEFT: -55px
}
.result-content .result-email {
	HEIGHT: 64px; WIDTH: 64px; BACKGROUND-POSITION: -186px -44px; MARGIN-LEFT: -85px; MARGIN-TOP: -10px
}
.result-content P {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 14px
}
.result-content .title {
	FONT-SIZE: 24px
}
.result-content .title-1 {
	FONT-SIZE: 16px
}
.result-content .result-link {
	PADDING-TOP: 15px
}
.result-content .first-link {
	BORDER-RIGHT: #2e81e8 1px solid; PADDING-RIGHT: 10px; MARGIN-RIGHT: 10px
}
.result-content .ui-line-1 {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 15px
}
.result-content .result-other {
	MARGIN-LEFT: 20px
}
.ui-table-2 {
	FONT-SIZE: 14px; FONT-FAMILY: "Microsoft YaHei"; WIDTH: 100%
}
.ui-table-2 TH {
	FONT-WEIGHT: 400; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.ui-table-2 TD {
	COLOR: #8c8c8c; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.ui-table-2 .text-zd {
	MARGIN-TOP: 5px
}
.ui-table-2 .ui-text {
	POSITION: relative; MARGIN-LEFT: 10px
}
.ui-ts-text {
	FONT-SIZE: 12px; BORDER-TOP: #de9732 1px solid; FONT-FAMILY: "simsun"; BORDER-RIGHT: #de9732 1px solid; WIDTH: 250px; BACKGROUND: #fdfae2; BORDER-BOTTOM: #de9732 1px solid; POSITION: absolute; COLOR: #555; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LEFT: 0px; BORDER-LEFT: #de9732 1px solid; LINE-HEIGHT: 20px; TOP: -70px; PADDING-RIGHT: 30px; box-shadow: 1px 1px 1px #ccc
}
.ui-ts-text I {
	HEIGHT: 9px; WIDTH: 15px; BACKGROUND: url(../images/arrow_bottom1.png) no-repeat; POSITION: absolute; LEFT: 30px; BOTTOM: -9px
}
.ui-ts-text A {
	HEIGHT: 14px; WIDTH: 14px; BACKGROUND: url(../images/icon_error_01.png) no-repeat; RIGHT: 5px; POSITION: absolute; DISPLAY: block; TOP: 5px
}
.ui-ts-text1 {
	WIDTH: 180px; POSITION: absolute; LEFT: 50px; TOP: -100px
}
.ui-table-2 .ui-text-1 {
	HEIGHT: 30px; FLOAT: left; MARGIN: 0px 5px; LINE-HEIGHT: 30px
}
.ui-table-2 .submit-fk {
	BACKGROUND: url(../images/correct.gif) no-repeat left center; PADDING-LEFT: 20px
}
.ui-table-4 {
	WIDTH: 100%
}
.ui-table-4 TD {
	FONT-SIZE: 14px; BORDER-BOTTOM: #adadad 1px dashed; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ui-table-4 .text-1 {
	FONT-SIZE: 18px; COLOR: #333
}
.ui-table-4 .text-2 {
	FONT-SIZE: 12px; FONT-FAMILY: "simsun"; COLOR: #666
}
.ui-table-4 P {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 12px
}
.ui-table-4 .link-del {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-FAMILY: "simsun"; BACKGROUND: url(../images/icon_error_01.png) no-repeat left center; PADDING-LEFT: 18px
}
.ui-qw {
	FONT-SIZE: 12px; FONT-FAMILY: ËÎÌו; BORDER-BOTTOM: #ebebeb 1px solid; COLOR: #555; PADDING-BOTTOM: 20px; PADDING-TOP: 0px; PADDING-LEFT: 20px; MARGIN: 0px 0px 20px; PADDING-RIGHT: 0px
}
.ui-out-box {
	POSITION: relative; DISPLAY: table
}
.ui-out-box .ui-input-box {
	MARGIN-BOTTOM: 5px; FLOAT: left
}
.ui-out-box .ui-input-box .ui-input {
	BORDER-TOP: #cecece 1px solid; HEIGHT: 26px; FONT-FAMILY: "Microsoft YaHei"; BORDER-RIGHT: #cecece 1px solid; WIDTH: 200px; BACKGROUND: #ffffff 0px 0px; BORDER-BOTTOM: #cecece 1px solid; COLOR: #666; BORDER-LEFT: #cecece 1px solid; LINE-HEIGHT: 26px; TEXT-INDENT: 10px; border-radius: 3px; box-shadow: 1px 1px 1px #EBEBEB inset
}
.ui-out-box .ui-input-box .ui-select {
	BACKGROUND: url(../images/arrow_2_down.gif) no-repeat right center
}
.ui-out-box .ui-input-box .selectFild {
	BACKGROUND: url(../images/arrow_2_up.gif) no-repeat right center
}
.ui-select-box {
	BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; WIDTH: 200px; BORDER-BOTTOM: #cecece 1px solid; FLOAT: left; COLOR: #555; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 5px; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #cecece 1px solid; PADDING-RIGHT: 0px; border-radius: 3px
}
.ui-select-box-w95 {
	WIDTH: 95px
}
.ui-out-box .ui-input-box .on-focus {
	BORDER-TOP: #74acff 1px solid; BORDER-RIGHT: #74acff 1px solid; BORDER-BOTTOM: #74acff 1px solid; BORDER-LEFT: #74acff 1px solid; box-shadow: 0 0 2px #74acff
}
.ui-out-box .ui-input-box .on-error {
	BORDER-TOP: #ffb949 1px solid; BORDER-RIGHT: #ffb949 1px solid; BORDER-BOTTOM: #ffb949 1px solid; BORDER-LEFT: #ffb949 1px solid; box-shadow: 0 0 2px #ffb949
}
.ui-out-box .ui-tips {
	WHITE-SPACE: nowrap; POSITION: absolute; LEFT: 220px; Z-INDEX: 9; DISPLAY: none; box-shadow: 0 2px 2px #ddd
}
.ui-out-box .ui-tips I {
	HEIGHT: 24px; WIDTH: 8px; POSITION: absolute; LEFT: -7px; TOP: 3px
}
.ui-out-box .tips-note {
	FONT-SIZE: 12px; MAX-WIDTH: 420px; BORDER-TOP: #a4ceeb 1px solid; FONT-FAMILY: "ËÎÌו"; BORDER-RIGHT: #a4ceeb 1px solid; BACKGROUND: url(../images/icon_wrning.png) #e7f4fa no-repeat 6px 7px; BORDER-BOTTOM: #a4ceeb 1px solid; COLOR: #4879b5; PADDING-BOTTOM: 3px; PADDING-TOP: 5px; PADDING-LEFT: 28px; MIN-HEIGHT: 22px; BORDER-LEFT: #a4ceeb 1px solid; LINE-HEIGHT: 20px; PADDING-RIGHT: 5px; border-radius: 2px
}
.ui-out-box .tips-note I {
	BACKGROUND: url(../images/arrow_left_01.gif) no-repeat left center
}
.ui-out-box .tips-error {
	FONT-SIZE: 12px; MAX-WIDTH: 420px; BORDER-TOP: #ebc5a4 1px solid; FONT-FAMILY: "ËÎÌו"; BORDER-RIGHT: #ebc5a4 1px solid; BACKGROUND: url(../images/icon_error_01.png) #faf7e7 no-repeat 6px 8px; BORDER-BOTTOM: #ebc5a4 1px solid; COLOR: #de883b; PADDING-BOTTOM: 3px; PADDING-TOP: 5px; PADDING-LEFT: 28px; MIN-HEIGHT: 22px; BORDER-LEFT: #ebc5a4 1px solid; LINE-HEIGHT: 20px; PADDING-RIGHT: 5px; border-radius: 2px
}
.ui-out-box .tips-error I {
	BACKGROUND: url(../images/arrow_left_02.gif) no-repeat left center
}
.ui-out-box .ui-text {
	FONT-SIZE: 12px; HEIGHT: 30px; FONT-FAMILY: "simsun"; FLOAT: left; MARGIN-LEFT: 20px; LINE-HEIGHT: 30px
}
.ui-out-box .ui-code {
	FLOAT: left; MARGIN: 3px 0px 0px 10px
}
.ui-select .ui-select-list {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; WIDTH: 100%; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; LEFT: 0px; BORDER-LEFT: #ccc 1px solid; Z-INDEX: 200; DISPLAY: none; TOP: 26px; PADDING-RIGHT: 0px; box-shadow: 0 2px 2px #ccc
}
.ui-select .ui-select-list A {
	FONT-SIZE: 12px; FONT-WEIGHT: 400; TEXT-ALIGN: left; CLEAR: both; DISPLAY: block; LINE-HEIGHT: 22px; TEXT-INDENT: 10px
}
.ui-select .ui-select-list A:hover {
	BACKGROUND: #eee
}
.ui-select .ui-select-txt {
	FONT-SIZE: 12px; HEIGHT: 28px; FONT-WEIGHT: 400; LINE-HEIGHT: 28px; PADDING-RIGHT: 25px
}
.ui-paw-pow {
	HEIGHT: 12px; WIDTH: 100px; BACKGROUND: #e4e4e4; FLOAT: left; border-radius: 10px
}
.ui-paw-pow SPAN {
	HEIGHT: 12px; BACKGROUND: url(../images/jindu_bg.png); DISPLAY: block; border-radius: 10px
}
.ui-paw-pow .ui-pow-1 {
	BACKGROUND-POSITION: 0px 0px
}
.ui-paw-pow .ui-pow-2 {
	BACKGROUND-POSITION: 0px -12px
}
.ui-paw-pow .ui-pow-3 {
	BACKGROUND-POSITION: 0px -24px
}
.tips-clue {
	FONT-SIZE: 12px; MARGIN-TOP: 5px
}
.tips-clue .ui-text {
	FLOAT: left; MARGIN-LEFT: 8px; LINE-HEIGHT: 12px
}
.ui-out-box .ui-input-box .w-100 {
	WIDTH: 100px
}
.ui-button-1 {
	BORDER-LEFT-WIDTH: 0px; OVERFLOW: hidden; CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 51px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 190px; BACKGROUND: url(../images/button.png) repeat-x 0px -460px; BORDER-BOTTOM-WIDTH: 0px; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; LINE-HEIGHT: 32px; BORDER-TOP-WIDTH: 0px
}
.ui-button-1:hover {
	BACKGROUND-POSITION: 0px -510px
}
.ui-button-3 {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: #e49a0d 1px solid; HEIGHT: 32px; FONT-FAMILY: "Microsoft YaHei"; BORDER-RIGHT: #e49a0d 1px solid; BACKGROUND: url(../images/btn_03.png) repeat-x 0px 0px; MIN-WIDTH: 100px; BORDER-BOTTOM: #e49a0d 1px solid; COLOR: #333; TEXT-ALIGN: center; BORDER-LEFT: #e49a0d 1px solid; LINE-HEIGHT: 22px; border-radius: 3px
}
.ui-button-3:hover {
	BACKGROUND-POSITION: left bottom
}
.ui-button-bank {
	BORDER-TOP-STYLE: none; CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 25px; FONT-FAMILY: "Microsoft YaHei"; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 15px; BORDER-LEFT-STYLE: none; PADDING-RIGHT: 15px; border-radius: 3px
}
.ui-button-gray {
	BACKGROUND: url(../images/btn_06.png) repeat-x; COLOR: #666; MARGIN: 0px 10px 0px 0px
}
.ui-button-orange {
	BACKGROUND: url(../images/btn_07.png) repeat-x; COLOR: #fff
}
.ui-code-button {
	CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: #f4c068 1px solid; HEIGHT: 25px; BORDER-RIGHT: #f4c068 1px solid; WIDTH: 120px; BACKGROUND: url(../images/btn_04.png) repeat-x 0px 0px; BORDER-BOTTOM: #f4c068 1px solid; COLOR: #bb6530; TEXT-ALIGN: center; BORDER-LEFT: #f4c068 1px solid; border-radius: 3px; box-shadow: 0 0 2px #FFFFFF inset
}
.ui-code-button:hover {
	BACKGROUND-POSITION: 0px -23px
}
.ui-code-sent {
	CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; HEIGHT: 25px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 120px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-POSITION: 0px bottom; COLOR: #777; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; border-radius: 3px; box-shadow: 0 0 2px #FFF inset
}
.ui-code-sent:hover {
	CURSOR: default; BACKGROUND-POSITION: 0px bottom
}
.ui-set-change .text-note {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; FONT-FAMILY: "simsun"; COLOR: #666666; LINE-HEIGHT: 30px
}
.ui-set-change .set-item {
	MARGIN-BOTTOM: 20px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BACKGROUND: #ffffff; BORDER-BOTTOM: #dddddd 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 5px; BORDER-LEFT: #dddddd 1px solid; PADDING-RIGHT: 5px; box-shadow: 0 3px 1px #EBEBEB
}
.ui-set-change .title-2 {
	FONT-SIZE: 16px; HEIGHT: 24px; COLOR: #333333; PADDING-TOP: 5px
}
.ui-plate-sidebar {
	WIDTH: 222px; BACKGROUND: #f2f2f2; POSITION: absolute; LEFT: 0px; TOP: 2px; BOTTOM: 0px
}
.sidebar-nav {
	BORDER-TOP: #dce3eb 1px solid; MIN-HEIGHT: 600px; MARGIN-TOP: 28px
}
.sidebar-nav LI {
	HEIGHT: 48px; BORDER-BOTTOM: #dce3eb 1px solid; TEXT-ALIGN: right; LINE-HEIGHT: 48px
}
.sidebar-nav LI A {
	FONT-SIZE: 16px; COLOR: #333; DISPLAY: block; PADDING-RIGHT: 50px
}
.sidebar-nav LI A.current {
	BACKGROUND: #fff; COLOR: #113d77; BORDER-LEFT: #369bd7 2px solid
}
.sidebar-nav LI A:hover {
	COLOR: #0068b7
}
.ui-plate-main {
	PADDING-BOTTOM: 0px; PADDING-TOP: 30px; PADDING-LEFT: 260px; PADDING-RIGHT: 24px
}
.my-account-title {
	HEIGHT: 50px; BORDER-BOTTOM: #dddde5 1px solid; MARGIN: 0px 0px 30px; LINE-HEIGHT: 50px
}
.my-account-title SPAN {
	FONT-SIZE: 18px; BORDER-TOP: #113d77 2px solid; HEIGHT: 49px; BORDER-RIGHT: #dddde5 1px solid; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; BORDER-LEFT: #dddde5 1px solid; PADDING-RIGHT: 30px
}
.my-account-title .add-card {
	FONT-SIZE: 16px; HEIGHT: 40px; BACKGROUND: url(../images/jia_1.png) #f6f9fb no-repeat 10px center; FLOAT: right; COLOR: #57a1e1; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 45px; LINE-HEIGHT: 40px; PADDING-RIGHT: 15px
}
.my-account-title .add-card:hover {
	BACKGROUND: url(../images/jia_2.png) #a9dafb no-repeat 10px center; COLOR: #fff
}
.ui-account-tab {
	HEIGHT: 50px; BORDER-BOTTOM: #dddde5 1px solid; MARGIN: 0px 0px 30px; LINE-HEIGHT: 50px
}
.ui-account-tab UL LI {
	FONT-SIZE: 18px; HEIGHT: 49px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px
}
.ui-account-tab UL LI.current {
	BORDER-TOP: #2c96d6 2px solid; BORDER-RIGHT: #dddde5 1px solid; BACKGROUND: #fff; BORDER-LEFT: #dddde5 1px solid
}
.pl-150 {
	PADDING-LEFT: 150px
}
.user-info {
	OVERFLOW: hidden; FONT-SIZE: 18px; BORDER-BOTTOM: #dce3eb 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 50px 78px 0px 200px; PADDING-RIGHT: 0px
}
.user-name {
	FONT-WEIGHT: 400; COLOR: #3571ba; MARGIN: 0px 20px 0px 0px
}
.user-info A.ui-icon {
	HEIGHT: 32px; WIDTH: 32px; FLOAT: left; MARGIN: 0px 0px 0px 10px; DISPLAY: block
}
.user-info A.ui-mail {
	BACKGROUND-POSITION: 0px -300px
}
.user-info A.ui-mobile {
	BACKGROUND-POSITION: -43px -300px
}
.user-info A.ui-lock {
	BACKGROUND-POSITION: -86px -300px
}
.investment-time {
	OVERFLOW: hidden; BORDER-BOTTOM: #dce3eb 1px solid; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; MARGIN: 0px 78px 0px 200px; LINE-HEIGHT: 30px; PADDING-RIGHT: 0px
}
.investment-banke {
	HEIGHT: 30px; WIDTH: 36px; BACKGROUND-POSITION: -138px -301px; DISPLAY: block
}
.investment-time SPAN {
	FLOAT: left; MARGIN: 0px 10px 0px 0px
}
.investment-time I {
	FLOAT: left; MARGIN: 0px 10px 0px 0px
}
.investment-time A {
	FLOAT: left; MARGIN: 0px 10px 0px 0px
}
.investment-time SPAN.investment-line {
	MARGIN: 0px 25px
}
.investment-money {
	OVERFLOW: hidden; MARGIN: 0px 78px 0px 200px
}
.investment-money LI {
	BORDER-RIGHT: #dce3eb 1px solid; WIDTH: 220px; FLOAT: left; PADDING-BOTTOM: 20px; TEXT-ALIGN: center; PADDING-TOP: 20px; PADDING-LEFT: 20px; MARGIN: 14px 0px; PADDING-RIGHT: 20px
}
.investment-money LI SPAN {
	FONT-SIZE: 18px
}
.investment-money LI SPAN.money-orange {
	COLOR: #ff670b
}
.investment-money LI SPAN B {
	FONT-SIZE: 36px; FONT-WEIGHT: 400
}
.investment-money LI P {
	FONT-SIZE: 14px
}
.myproject-list {
	FONT-FAMILY: "simsun"; MARGIN: 22px 50px 50px
}
.myproject-list .timeline {
	BACKGROUND: url(../images/account_img_20.png) repeat-y 100px 0px; POSITION: relative; MARGIN: 20px 0px 50px
}
.myproject-list .timeline UL {
	
}
.myproject-list .timeline UL LI {
	POSITION: relative; MARGIN: 0px 0px 60px 133px
}
.myproject-list .timeline_dian {
	HEIGHT: 20px; WIDTH: 20px; BACKGROUND: url(../images/account_img_15.png) no-repeat right -1px; POSITION: absolute; LEFT: -42px; TOP: 0px
}
.myproject-list .project_arrow {
	HEIGHT: 12px; WIDTH: 11px; BACKGROUND: url(../images/account_img_13.png) no-repeat; POSITION: absolute; LEFT: -10px; TOP: 8px
}
.myproject-list .news_time {
	FONT-SIZE: 14px; WIDTH: 80px; POSITION: absolute; FONT-WEIGHT: bold; COLOR: #ff615f; TEXT-ALIGN: right; LEFT: -140px; TOP: 0px
}
.myproject-list .news_time SPAN {
	FONT-WEIGHT: 400; COLOR: #666; DISPLAY: block
}
.myproject-list .time_dian {
	HEIGHT: 10px; WIDTH: 9px; BACKGROUND: url(../images/account_img_18.png) no-repeat; POSITION: absolute; LEFT: 97px; BOTTOM: 0px
}
.myproject-list .project {
	BORDER-TOP: #ececec 2px solid; BORDER-RIGHT: #ececec 2px solid; BACKGROUND: #fffef5; BORDER-BOTTOM: #ececec 2px solid; MARGIN: -10px 0px 0px; BORDER-LEFT: #ececec 2px solid
}
.myproject-list .project .title {
	HEIGHT: 30px; BACKGROUND: #f5f3d6; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 8px; LINE-HEIGHT: 30px; PADDING-RIGHT: 8px
}
.myproject-list .project .title .tB {
	HEIGHT: 18px; WIDTH: 18px; VERTICAL-ALIGN: middle; FLOAT: left; MARGIN: 6px 8px 0px 0px
}
.myproject-list .project .title .wz {
	POSITION: relative; FLOAT: left; COLOR: #666; MARGIN-RIGHT: 8px
}
.myproject-list .project TABLE {
	COLOR: #666
}
.myproject-list .project TABLE TH {
	BACKGROUND: #ececec; FONT-WEIGHT: 400
}
.myproject-list .project_detail {
	HEIGHT: 18px; WIDTH: 35px; BACKGROUND: url(../images/account_img_26.png) #64b7f8 no-repeat left bottom; FLOAT: right; FONT-WEIGHT: 400; COLOR: #fff; MARGIN: 0px 10px 0px 0px; LINE-HEIGHT: 18px; TEXT-INDENT: 8px
}
.myproject-list .project_detail A {
	COLOR: #fff
}
.myproject-list .project_detail A:hover {
	TEXT-DECORATION: underline
}
.myproject-list B {
	COLOR: #e22c3e
}
.progress {
	COLOR: #ed5565; MARGIN: 0px 0px 0px 30px
}
.progress SPAN {
	FLOAT: left
}
.progress .progress-bg {
	OVERFLOW: hidden; HEIGHT: 10px; WIDTH: 110px; BACKGROUND: #c1c1c1; FLOAT: left; MARGIN: 2px 10px 0px 0px; border-radius: 5px
}
.progress .progress-bg B {
	HEIGHT: 10px; WIDTH: 70%; BACKGROUND: #ed5565; DISPLAY: block
}
.myproject-list .project_again {
	FONT-SIZE: 18px; FONT-FAMILY: "Microsoft YaHei"
}
.myproject-list .project_again SPAN {
	BACKGROUND-POSITION: -776px -378px; COLOR: #1b9a15; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px
}
.myproject-list .project-fail SPAN {
	BORDER-BOTTOM: #c3c3c3 1px dashed; BACKGROUND-POSITION: -776px -417px; PADDING-BOTTOM: 5px
}
.myproject-list .project-fulfill SPAN {
	BORDER-BOTTOM: #c3c3c3 1px dashed; BACKGROUND-POSITION: -776px -458px; PADDING-BOTTOM: 5px
}
.myproject-list .project-hkz SPAN {
	BACKGROUND-POSITION: -777px -306px
}
.myproject-list .project-yyq SPAN {
	BACKGROUND-POSITION: -777px -338px
}
.load-more {
	FONT-SIZE: 14px; BORDER-TOP: #cfcfcf 1px solid; BORDER-RIGHT: #cfcfcf 1px solid; WIDTH: 560px; BACKGROUND: #f1f1f1; BORDER-BOTTOM: #cfcfcf 1px solid; TEXT-ALIGN: center; MARGIN: 0px 0px 0px 260px; BORDER-LEFT: #cfcfcf 1px solid; LINE-HEIGHT: 36px
}
.load-more A {
	BACKGROUND: url(../images/account_img_34.png) no-repeat left center; PADDING-LEFT: 25px
}
.load-more A:hover {
	COLOR: #ff615f
}
.ui-line {
	FONT-SIZE: 14px; FONT-FAMILY: "simsun"; BORDER-BOTTOM: #dce3eb 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 0px; PADDING-LEFT: 45px; MARGIN: 25px 0px 20px; PADDING-RIGHT: 0px
}
.ui-table-4 {
	FONT-SIZE: 14px; FONT-FAMILY: "simsun"
}
.ui-table-4 TD {
	
}
.ui-table-4 TH {
	BACKGROUND: #fff4d8
}
.my-card-note {
	OVERFLOW: hidden; MARGIN: 0px 0px 15px
}
.my-card-note B {
	FLOAT: left; COLOR: #333; MARGIN: 4px 0px 0px
}
.my-card-note SPAN {
	BORDER-TOP: #c7c092 1px solid; HEIGHT: 26px; BORDER-RIGHT: #c7c092 1px solid; BACKGROUND: url(../images/account_img_11.png) #fff6de no-repeat 4px 5px; BORDER-BOTTOM: #c7c092 1px solid; FLOAT: left; COLOR: #555; PADDING-LEFT: 22px; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #c7c092 1px solid; LINE-HEIGHT: 26px
}
.my-card-note STRONG {
	FONT-WEIGHT: normal; MARGIN: 0px 0px 0px 10px; LINE-HEIGHT: 26px
}
.my-card-note A {
	TEXT-DECORATION: underline; FLOAT: left; COLOR: #2a66ff; MARGIN: 5px 0px 0px 10px
}
.ui-bank-card {
	HEIGHT: 215px; WIDTH: 383px; BACKGROUND: url(../images/account_img_66.png) no-repeat; POSITION: relative; COLOR: #000; CLEAR: both
}
.ui-bank-logo {
	HEIGHT: 100px; WIDTH: 130px; BACKGROUND: url(../images/account_img_72.png) no-repeat; RIGHT: 14px; POSITION: absolute; TOP: 16px
}
.ui-bank-card UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 30px; PADDING-LEFT: 50px; PADDING-RIGHT: 20px
}
.ui-bank-card UL LI {
	LINE-HEIGHT: 31px
}
.ui-bank-card UL LI .card-num {
	FONT-SIZE: 18px; COLOR: #c6591e; MARGIN: 20px 0px 0px; DISPLAY: block; text-shadow: 1px 1px 1px #fff
}
.bankNumber {
	HEIGHT: 30px; RIGHT: 14px; POSITION: absolute; FLOAT: left; COLOR: #666; MARGIN-LEFT: 10px; LINE-HEIGHT: 30px; TOP: 16px
}
.bankNumber .bank-logo {
	HEIGHT: 30px; WIDTH: 125px; FLOAT: left; MARGIN-LEFT: 5px
}
.bank-logo {
	BACKGROUND-IMAGE: url(../images/bank.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -999px 0px
}
.bank-list {
	FLOAT: left
}
.bank-list LI {
	MARGIN-BOTTOM: 40px; POSITION: relative; FLOAT: left; MARGIN-RIGHT: 15px
}
.bank-list LI INPUT {
	POSITION: absolute; LEFT: 0px; TOP: 5px
}
.bank-list LI .bank-logo {
	HEIGHT: 30px; WIDTH: 140px; FLOAT: left; MARGIN-LEFT: 30px
}
.bank-cmb {
	BACKGROUND-POSITION: 0px -33px
}
.bank-icbc {
	BACKGROUND-POSITION: 0px 0px
}
.bank-ccb {
	BACKGROUND-POSITION: 0px -67px
}
.bank-abc {
	BACKGROUND-POSITION: 0px -99px
}
.bank-boc {
	BACKGROUND-POSITION: 0px -132px
}
.bank-comm {
	BACKGROUND-POSITION: 0px -330px
}
.bank-pingan {
	BACKGROUND-POSITION: 0px -460px
}
.bank-psbc {
	BACKGROUND-POSITION: 0px -493px
}
.bank-shbc {
	BACKGROUND-POSITION: 0px -526px
}
.bank-wzbc {
	BACKGROUND-POSITION: 0px -564px
}
.bank-spdb {
	BACKGROUND-POSITION: 0px -166px
}
.bank-ecitic {
	BACKGROUND-POSITION: 0px -398px
}
.bank-cgbchina {
	BACKGROUND-POSITION: 0px -430px
}
.bank-hxb {
	BACKGROUND-POSITION: 0px -600px
}
.bank-hebbank {
	BACKGROUND-POSITION: 0px -646px
}
.bank-hsbank {
	BACKGROUND-POSITION: 0px -688px
}
.bank-hkbea {
	BACKGROUND-POSITION: 0px -733px
}
.bank-cebbank {
	BACKGROUND-POSITION: 0px -775px
}
.bank-cmbc {
	BACKGROUND-POSITION: 0px -817px
}
.bank-cib {
	BACKGROUND-POSITION: 0px -855px
}
.bank-lzb {
	BACKGROUND-POSITION: 0px -890px
}
.my-account-info .info-1 {
	WIDTH: 430px
}
.my-account-info .icon-user {
	WIDTH: 260px; TEXT-ALIGN: center; CLEAR: right; BORDER-LEFT: #dce3eb 1px solid
}
.my-account-info .info-num {
	BACKGROUND: #dce3eb; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.my-account-info .info-num .del-all {
	HEIGHT: 18px; BACKGROUND: url(../images/icon_bin.png) no-repeat left center; FLOAT: right; PADDING-LEFT: 22px; LINE-HEIGHT: 18px
}
.my-account-info .text-note-1 {
	BORDER-TOP: #ffc6a3 1px solid; FONT-FAMILY: "simsun"; BORDER-RIGHT: #ffc6a3 1px solid; BACKGROUND: #fff5e8; BORDER-BOTTOM: #ffc6a3 1px solid; COLOR: #333; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #ffc6a3 1px solid; PADDING-RIGHT: 10px
}
.my-account-info H4 {
	FONT-SIZE: 14px; FONT-WEIGHT: 700; COLOR: #0068b7; MARGIN: 0px 0px 10px
}
.ui-ban {
	FONT-SIZE: 12px; BACKGROUND-POSITION: -478px -186px; COLOR: #fe4425; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.ui-correct {
	FONT-SIZE: 12px; BACKGROUND-POSITION: -478px -146px; COLOR: #019b01; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.bankCard-list LI {
	MARGIN-BOTTOM: 15px; BORDER-BOTTOM: #d2d2d2 1px dashed; POSITION: relative; PADDING-BOTTOM: 15px
}
.bankCard-list .bank-card {
	BORDER-TOP: #e1e1e1 2px solid; HEIGHT: 140px; BORDER-RIGHT: #e1e1e1 2px solid; WIDTH: 248px; BACKGROUND: #fff; BORDER-BOTTOM: #e1e1e1 2px solid; POSITION: relative; BORDER-LEFT: #e1e1e1 2px solid; border-radius: 6px
}
.bankCard-list .bank-tel {
	HEIGHT: 26px; WIDTH: 100%; BACKGROUND: #f2f2f2; POSITION: absolute; LEFT: 0px; LINE-HEIGHT: 26px; BOTTOM: 0px; TEXT-INDENT: 20px
}
.bankCard-list .card-body {
	FONT-SIZE: 14px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.bankCard-list .card-body P {
	PADDING-LEFT: 10px
}
.bankCard-list .bank-list {
	MARGIN-BOTTOM: 10px; FLOAT: none
}
.bankCard-list .bank-list SPAN {
	HEIGHT: 30px; WIDTH: 130px; DISPLAY: block
}
.bankCard-list .ui-operate {
	RIGHT: 30px; POSITION: absolute; TOP: 50px
}
.bankCard-list .ui-card {
	BACKGROUND: #7fafca; RIGHT: 15px; POSITION: absolute; COLOR: #fff; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 5px; TOP: 10px; PADDING-RIGHT: 5px
}
.bankCard-list .ui-button-reset {
	FONT-SIZE: 18px; HEIGHT: 40px; WIDTH: 140px; BACKGROUND: #4ea2e3; FLOAT: left; COLOR: #fff; TEXT-ALIGN: center; LINE-HEIGHT: 40px; border-radius: 5px
}
.bankCard-list .ui-button-reset:hover {
	BACKGROUND: #6ab9f6
}
.mod-tips {
	DISPLAY: none
}
.jianjie {
	FONT-SIZE: 12px; BORDER-TOP: #de9732 1px solid; FONT-FAMILY: "simsun"; BORDER-RIGHT: #de9732 1px solid; BACKGROUND: #fdfae2; RIGHT: 10px; BORDER-BOTTOM: #de9732 1px solid; POSITION: absolute; COLOR: #444343; PADDING-BOTTOM: 10px; TEXT-ALIGN: left; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #de9732 1px solid; Z-INDEX: 999; DISPLAY: none; LINE-HEIGHT: 20px; TOP: 85px; PADDING-RIGHT: 10px
}
.jianjie I {
	HEIGHT: 9px; WIDTH: 17px; BACKGROUND: url(../images/arrow_1.png) no-repeat 0px 0px; RIGHT: 15px; POSITION: absolute; TOP: -9px
}
.mouseTips {
	BORDER-TOP: #fab418 1px solid; FONT-FAMILY: "simsun"; BORDER-RIGHT: #fab418 1px solid; BORDER-BOTTOM: #fab418 1px solid; POSITION: absolute; COLOR: #333; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #fab418 1px solid; DISPLAY: none; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #fdfae2; box-shadow: 2px 2px 2px #bbb
}
.mouseTips I {
	HEIGHT: 9px; WIDTH: 15px; BACKGROUND: url(../images/arrow_bottom1.png) no-repeat; POSITION: absolute; LEFT: 10px; DISPLAY: block; BOTTOM: -9px
}
.ui-table-5 {
	FONT-SIZE: 14px; MARGIN: 0px 0px 50px
}
.ui-table-5 TD {
	BORDER-BOTTOM: #b0b0b0 1px dashed
}
.ui-table-5 H4 {
	FONT-SIZE: 18px; FONT-WEIGHT: 400; COLOR: #333
}
.ui-table-5 A {
	FONT-SIZE: 12px; FONT-FAMILY: "simsun"
}
.back-step {
	WIDTH: 885px; MARGIN: 50px auto 0px
}
.back-step TABLE TD .step-back {
	OVERFLOW: hidden; BACKGROUND: #f3f3f3
}
.back-step TABLE TD {
	FONT-SIZE: 16px; BACKGROUND: url(../images/reg_03.png) repeat-x left center; COLOR: #666
}
.back-step TABLE TD.blue-line {
	BACKGROUND: url(../images/reg_04.png) repeat-x left center
}
.step-back I {
	HEIGHT: 48px; WIDTH: 48px; FLOAT: left; MARGIN: 0px 15px 0px 0px; DISPLAY: block
}
.step-back I.step-icon-mode {
	BACKGROUND-POSITION: 0px -462px
}
.step-back I.step-icon-mode1 {
	BACKGROUND-POSITION: 0px -520px
}
.step-back I.step-icon-ve {
	BACKGROUND-POSITION: 0px -171px
}
.step-back I.step-icon-ve1 {
	BACKGROUND-POSITION: 0px -113px
}
.step-back I.step-icon-reset {
	BACKGROUND-POSITION: -78px -462px
}
.step-back I.step-icon-reset1 {
	BACKGROUND-POSITION: -78px -520px
}
.step-back I.step-icon-ok {
	BACKGROUND-POSITION: -156px -171px
}
.step-back I.step-icon-ok1 {
	BACKGROUND-POSITION: -156px -113px
}
.step-back SPAN {
	FLOAT: left; LINE-HEIGHT: 50px
}
.text-blue.step-back {
	COLOR: #3571ba
}
.back-title {
	HEIGHT: 42px; BACKGROUND: #3571ba; COLOR: #fff; MARGIN: 50px 0px 0px; LINE-HEIGHT: 42px; TEXT-INDENT: 1em; border-radius: 5px 5px 0 0
}
.back-content {
	OVERFLOW: hidden; BORDER-TOP: #eaeaea 1px; BORDER-RIGHT: #eaeaea 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #eaeaea 1px solid; BORDER-LEFT: #eaeaea 1px solid
}
.ui-goback {
	TEXT-ALIGN: right; MARGIN: 15px 26px 15px 0px
}
.ui-goback A {
	FONT-SIZE: 14px; FONT-FAMILY: "simsun"; BACKGROUND-POSITION: -778px -509px; COLOR: #3571ba; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px
}
.ui-label {
	WIDTH: 130px; TEXT-ALIGN: right
}
.back-yzm {
	LINE-HEIGHT: 40px
}
.back-yzm IMG {
	VERTICAL-ALIGN: middle; MARGIN: 0px 10px
}
.back-yzm A {
	FONT-SIZE: 12px; FONT-FAMILY: "simsun"; COLOR: #3571ba
}
.strategy-note {
	FONT-SIZE: 16px; MARGIN: 30px 0px 25px 70px
}
.result-text {
	FONT-SIZE: 18px; COLOR: #666; TEXT-ALIGN: center; MARGIN: 40px 0px
}
.ui-input-box {
	POSITION: relative
}
.ui-input-box .icon-error {
	HEIGHT: 21px; WIDTH: 21px; POSITION: absolute; BACKGROUND-POSITION: -206px -8px; LEFT: -3px; DISPLAY: block; TOP: 51px
}
.red-ts2 .icon-error {
	HEIGHT: 21px; WIDTH: 21px; POSITION: absolute; BACKGROUND-POSITION: -779px 0px; LEFT: 0px; DISPLAY: block; TOP: 10px
}
.ui-input-box .icon-correct {
	HEIGHT: 21px; WIDTH: 21px; RIGHT: 10px; POSITION: absolute; BACKGROUND-POSITION: -156px -8px; DISPLAY: block; TOP: 11px
}
.ui-input-box .icon-correct-1 {
	RIGHT: 5px; BACKGROUND-POSITION: -480px -225px; TOP: 4px
}
.red-ts2 {
	FONT-SIZE: 14px; POSITION: relative; COLOR: #f10; PADDING-LEFT: 25px; CLEAR: both; MARGIN: 0px 0px 0px 130px
}
.red-ts3 {
	FONT-SIZE: 14px; COLOR: #f10; MARGIN: 5px 0px 0px
}
.back-mode {
	MARGIN: 0px 70px 30px
}
.back-mode .table-1 {
	FONT-SIZE: 16px; BACKGROUND: #f2f2f2
}
.btn_4 {
	BORDER-TOP-STYLE: none; CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 42px; FONT-FAMILY: "Microsoft YaHei"; BACKGROUND: #3571ba; MIN-WIDTH: 120px; BORDER-BOTTOM-STYLE: none; COLOR: #fff; BORDER-RIGHT-STYLE: none; MARGIN: 0px 10px 0px 0px; BORDER-LEFT-STYLE: none; LINE-HEIGHT: 42px; border-radius: 5px
}
.btn_7 {
	BORDER-TOP-STYLE: none; CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 42px; FONT-FAMILY: "Microsoft YaHei"; BACKGROUND: #d7d7d7; MIN-WIDTH: 120px; BORDER-BOTTOM-STYLE: none; COLOR: #666; BORDER-RIGHT-STYLE: none; MARGIN: 0px 10px 0px 0px; BORDER-LEFT-STYLE: none; LINE-HEIGHT: 42px; border-radius: 5px
}
.back-bg1 {
	BACKGROUND: url(../images/reg_25.png) #fff no-repeat right center
}
.back-bg2 {
	BACKGROUND: url(../images/reg_26.png) #fff no-repeat right center
}
.back-bg3 {
	BACKGROUND: url(../images/reg_27.png) #fff no-repeat right center
}
.back-down {
	FONT-SIZE: 16px; BORDER-TOP: #ccc 1px solid; FONT-FAMILY: "Microsoft YaHei"; BORDER-RIGHT: #ccc 1px solid; WIDTH: 300px; BORDER-BOTTOM: #ccc 1px solid; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 0px
}
.blue-s {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; FONT-FAMILY: "simsun"; COLOR: #3571ba; MARGIN: 0px 0px 0px 10px
}
.back-code {
	FLOAT: left; MARGIN: 8px 0px 0px 10px
}
.back-code .ui-code-sent1 {
	CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; HEIGHT: 25px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 120px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-POSITION: 0px bottom; COLOR: #777; TEXT-ALIGN: center; MARGIN: 0px 0px 0px 10px; BORDER-LEFT: #ccc 1px solid; border-radius: 3px; box-shadow: 0 0 2px #FFF inset
}
.back-code .ui-code-sent1:hover {
	CURSOR: default; BACKGROUND-POSITION: 0px bottom
}
.back-content-1 {
	BORDER-TOP: #eaeaea 1px solid; BORDER-RIGHT: #eaeaea 1px solid; BORDER-BOTTOM: #eaeaea 1px solid; MARGIN: 50px 0px 0px; BORDER-LEFT: #eaeaea 1px solid
}
.back-content-2 {
	BORDER-TOP: #eaeaea 1px solid; BORDER-RIGHT: #eaeaea 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #eaeaea 1px solid; MARGIN: 50px 0px 0px; BORDER-LEFT: #eaeaea 1px solid
}
.unbound {
	HEIGHT: 300px; BACKGROUND: url(../images/no_content_2.gif) #fff no-repeat center center
}
.unbound A {
	FONT-SIZE: 16px; HEIGHT: 40px; BACKGROUND: url(../images/jia_1.png) #e8f0f6 no-repeat 10px center; FLOAT: right; COLOR: #57a1e1; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 45px; MARGIN: 165px 160px 0px 0px; LINE-HEIGHT: 40px; PADDING-RIGHT: 15px
}
.unbound A:hover {
	BACKGROUND: url(../images/jia_2.png) #a9dafb no-repeat 10px center; COLOR: #fff
}
.bank-add-box {
	OVERFLOW: hidden; BORDER-TOP: #888 5px solid; BORDER-RIGHT: #888 5px solid; BACKGROUND: #fff; BORDER-BOTTOM: #888 5px solid; POSITION: absolute; BORDER-LEFT: #888 5px solid; TOP: 0px; border-radius: 5px
}
.bank-add-box H3.title {
	HEIGHT: 40px; BACKGROUND: #ececec; POSITION: relative; COLOR: #3571ba; LINE-HEIGHT: 40px; TEXT-INDENT: 1em
}
.bank-add-box H3 A.close {
	HEIGHT: 23px; WIDTH: 23px; RIGHT: 10px; POSITION: absolute; BACKGROUND-POSITION: -777px -102px; DISPLAY: block; TOP: 10px
}
.bank-add-box H3 A.close:hover {
	BACKGROUND-POSITION: -744px -102px
}
.calculator-btn {
	TEXT-ALIGN: center; MARGIN: 10px 0px 30px
}
.calculator-btn INPUT {
	BORDER-TOP-STYLE: none; CURSOR: pointer; FONT-SIZE: 16px; HEIGHT: 40px; FONT-FAMILY: "Microsoft YaHei"; BACKGROUND: #fbaa2c; MIN-WIDTH: 116px; BORDER-BOTTOM-STYLE: none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 20px; MARGIN: 0px 5px; BORDER-LEFT-STYLE: none; LINE-HEIGHT: 40px; PADDING-RIGHT: 20px; border-radius: 3px
}
.calculator-btn INPUT.reset {
	BACKGROUND: #dbdada; COLOR: #727272
}
.calculator-btn INPUT.alter {
	BACKGROUND: #3571ba
}
.bank-alter-text {
	FONT-FAMILY: "simsun"; TEXT-ALIGN: center; MARGIN: 35px 0px
}
.bank-alter-text .note-content {
	MARGIN-BOTTOM: 20px; FONT-SIZE: 16px
}
.ui-main-head {
	TEXT-ALIGN: center; MARGIN: 30px 0px 0px
}
.ui-main-head A {
	COLOR: #06f; MARGIN: 10px 0px; DISPLAY: block
}
.m-no {
	MARGIN: 0px
}
.searchSelet {
	BORDER-TOP: #d2d2d2 1px solid; HEIGHT: 24px; BORDER-RIGHT: #d2d2d2 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #d2d2d2 1px solid; POSITION: relative; FLOAT: right; MARGIN: 2px; BORDER-LEFT: #d2d2d2 1px solid; Z-INDEX: 9; LINE-HEIGHT: 24px
}
.searchSelet .searchBtn1 {
	BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 16px; BACKGROUND: url(../images/search.gif) no-repeat 0px 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 5px 3px 0px 0px; BORDER-TOP-WIDTH: 0px
}

.searchSelet .selectFild {
	BACKGROUND: url(../images/account_img_43.png) no-repeat right center
}
.searchSelet .txtList {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; WIDTH: 120px; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; LEFT: -1px; BORDER-LEFT: #ccc 1px solid; Z-INDEX: 200; DISPLAY: none; TOP: 24px; box-shadow: 0 2px 2px #8f8f8f
}
.searchSelet .txtList A {
	TEXT-ALIGN: center; CLEAR: both; DISPLAY: block; LINE-HEIGHT: 22px
}
.searchSelet .txtList A:hover {
	BACKGROUND: #ececec; COLOR: #c1161f
}
.searchSelet .txt {
	HEIGHT: 24px; LINE-HEIGHT: 24px
}
.white-list {
	MARGIN: 22px 0px 50px 10px
}
.project-end {
	FONT-SIZE: 16px; FONT-FAMILY: "Microsoft YaHei"; COLOR: #606060
}
.project-end SPAN {
	BACKGROUND-POSITION: -782px -563px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.project-audit {
	FONT-SIZE: 16px; FONT-FAMILY: "Microsoft YaHei"; COLOR: #fe7201
}
.project-audit SPAN {
	BACKGROUND-POSITION: 0px -580px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.project-end-text {
	MARGIN: 5px 0px 0px
}
.white-list .load-more {
	WIDTH: 650px; MARGIN: 0px 0px 0px 135px
}
.white-list .can-not-find P {
	MARGIN: 100px 0px 0px 270px
}
.ui-main-head {
	TEXT-ALIGN: center; MARGIN: 30px 0px 0px
}
.ui-main-head A {
	COLOR: #06f; MARGIN: 10px 0px; DISPLAY: block
}
.m-no {
	MARGIN: 0px
}
.project-audited {
	FONT-SIZE: 16px; FONT-FAMILY: "Microsoft YaHei"; COLOR: #4eb74e
}
.project-audited SPAN {
	BACKGROUND: url(../images/header.png) no-repeat -218px -580px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.project-no {
	FONT-SIZE: 16px; FONT-FAMILY: "Microsoft YaHei"; COLOR: #f10000
}
.project-no SPAN {
	BACKGROUND: url(../images/header.png) no-repeat -436px -580px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px
}
.table_4 {
	MARGIN-BOTTOM: 20px; BORDER-TOP: #ded4af 1px solid; BORDER-RIGHT: #ded4af 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ded4af 1px solid; BORDER-LEFT: #ded4af 1px solid
}
.table_4 TD {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.table_4 TH {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.table_4 TH {
	FONT-SIZE: 14px; BACKGROUND: #f8f5d9; COLOR: #666
}
.table_4 TD {
	BACKGROUND: #fffef7; TEXT-ALIGN: center
}
.table_4 .orange {
	FONT-SIZE: 24px; COLOR: #ff8400
}
.table_4 .green {
	FONT-SIZE: 24px; COLOR: #1b920f
}
.project_text {
	OVERFLOW: hidden; MARGIN: 30px 0px
}
.project_text STRONG {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #444
}
.project_text B {
	FONT-SIZE: 12px; BACKGROUND: url(../images/account_img_38.png) no-repeat 0px 3px; FLOAT: left; COLOR: #ed5565; PADDING-LEFT: 20px; MARGIN: 0px 0px 0px 30px
}
.project_text .ts {
	BORDER-TOP: #c5c297 1px solid; BORDER-RIGHT: #c5c297 1px solid; BACKGROUND: #fafbd1; BORDER-BOTTOM: #c5c297 1px solid; POSITION: relative; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN-LEFT: 10px; BORDER-LEFT: #c5c297 1px solid; PADDING-RIGHT: 8px
}
.project_text .ts I {
	HEIGHT: 11px; WIDTH: 6px; BACKGROUND: url(../images/arrow_3.png) no-repeat 0px 0px; POSITION: absolute; LEFT: -6px; TOP: 5px
}
.project_text .ts SPAN {
	
}
.project_again A {
	TEXT-DECORATION: underline; COLOR: #1c6cff; MARGIN-RIGHT: 10px
}
.project_again A:hover {
	TEXT-DECORATION: none
}
.table-one {
	MARGIN-BOTTOM: 40px; FONT-SIZE: 14px; WIDTH: 100%; COLOR: #666
}
.table-one TR TD {
	WIDTH: 50%; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.table-one TR TD SPAN {
	FONT-WEIGHT: bold; COLOR: #1b9a15; PADDING-LEFT: 65px; MARGIN-TOP: 8px; DISPLAY: block
}
.table-one TR TD SPAN I {
	HEIGHT: 25px; WIDTH: 25px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/header3.png) no-repeat; MARGIN: 0px 5px; DISPLAY: inline-block
}
.table-one TR TD SPAN I.i-1 {
	BACKGROUND-POSITION: -777px -308px
}
.table-one TR.tr-1 TD {
	BACKGROUND-COLOR: #f3f7f8
}
.table-one TR.tr-2 TD {
	BACKGROUND-COLOR: #fff
}
.table-tow {
	MARGIN-BOTTOM: 40px; FONT-SIZE: 14px; BORDER-TOP: #d4e7eb 1px solid; BORDER-RIGHT: #d4e7eb 1px solid; WIDTH: 80%; BORDER-BOTTOM: #d4e7eb 1px solid; COLOR: #666; BORDER-LEFT: #d4e7eb 1px solid; BACKGROUND-COLOR: #f2fbfd
}
.table-tow TR TD {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.table-tow TR TD SPAN {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; DISPLAY: block; PADDING-RIGHT: 0px
}
.table-tow TR TD.td-1 {
	VERTICAL-ALIGN: top; TEXT-ALIGN: right; LINE-HEIGHT: 40px
}
.a-icon {
	OVERFLOW: hidden; FONT-SIZE: 14px; HEIGHT: 38px; WIDTH: 150px; FLOAT: right; COLOR: #fff; TEXT-ALIGN: center; MARGIN-LEFT: 10px; DISPLAY: block; LINE-HEIGHT: 38px; BACKGROUND-COLOR: #ffa800; border-radius: 3px
}
.a-icon:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f90
}
.a-icon I {
	OVERFLOW: hidden; HEIGHT: 20px; WIDTH: 20px; VERTICAL-ALIGN: middle; DISPLAY: inline-block
}
.a-icon I.i-1 {
	BACKGROUND: url(../images/icon_a.png) no-repeat left 50%
}
.a-icon I.i-2 {
	BACKGROUND: url(../images/icon_a.png) no-repeat right 50%
}
.table-three {
	FONT-SIZE: 14px; WIDTH: auto; COLOR: #666
}
.table-three TR TD {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.table-three TR TD.td-1 {
	TEXT-ALIGN: right
}
.table-three TR TD SPAN.img-1 {
	BORDER-TOP: #bdc3cb 1px solid; HEIGHT: 58px; BORDER-RIGHT: #bdc3cb 1px solid; WIDTH: 210px; BORDER-BOTTOM: #bdc3cb 1px solid; BORDER-LEFT: #bdc3cb 1px solid; DISPLAY: block; BACKGROUND-COLOR: #f2fbfd
}
.table-three TR TD SPAN.img-1 IMG {
	MARGIN: 5px auto; DISPLAY: block
}
.title-ny {
	FONT-SIZE: 18px; COLOR: #666; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; MARGIN: 20px 0px; BORDER-LEFT: #369bd7 3px solid; PADDING-RIGHT: 0px; TEXT-INDENT: 10px
}
